*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
}

body{
    
    background-image: url("background.jpeg");
    background-size: cover;
}
.container{
    padding: 188px 249px 189px 249px;
}

h1{
font-family: 'Bebas Neue', sans-serif;
color: #191919;
text-align: center;
font-size: 290px;
font-weight: 400;

}
h2{
    font-family: 'Montserrat', sans-serif;
    color: #191919;
font-size: 110px;
font-weight: 300;
text-align: center;


}
.container{
    position: relative;
}

.logo{
    padding: 54px 66px 23px 23px;
}

 .logo1 {
    
    position: absolute;
    top: 17%;
    left: 23%;
    width: 376.8px;
height: 150.875px;
transform: rotate(-14deg);
flex-shrink: 0;
fill: #FFF;
stroke-width: 0.989px;
stroke: #E2E2E2;
filter: drop-shadow(0.6595967411994934px 1.3191934823989868px 1.3191934823989868px rgba(0, 0, 0, 0.25));
    

     z-index: 1;
    
 }

.logo2{
position: absolute;

    left: 25%;
    top: 22%;
    width: 299.225px;
height: 90.527px;
transform: rotate(-14deg);
flex-shrink: 0;
fill: #F93B21;
stroke-width: 2px;
stroke: #F93B21;
    


z-index: 2;
}

.logo3{
    position: absolute;
top: 15%;
left: 40%;
width: 35.806px;
height: 84.51px;
transform: rotate(-14deg);
flex-shrink: 0;
    z-index: 3;

}
 .cursor{
    position: absolute;
    top: 33%;
    right: 33%;
   
 }

 .card
 {
    width: 147px;
    height: 40px;
    display: inline-flex;
padding: 0px 23.579px;
justify-content: center;
align-items: center;
gap: 29.474px;
    border-radius: 70.737px;
background: var(--layout-applaudo-red, #FF4040);
box-shadow: 0px 2.94737px 11.78947px 0px rgba(0, 0, 0, 0.15);
position: absolute;
    top: 40%;
    right: 23%;
 }

 .card p {
    color: #FFF;
 font-family: 'Bebas Neue', sans-serif;
font-size: 29.474px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.589px;
 }





