*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Source Code Pro', monospace;
font-family: 'Work Sans', sans-serif;
}

.container{
    width: 1146px;
   padding-top: 50px;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.nav-header{
    width: 100%;
    padding: 0px 0px 0px 1.932px;
}

.nav-items
{
    display: flex;
    column-gap: 30px;
    

}

.nav-items a
{
    color: #191919;
    text-align: right;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    
    font-weight: 400;
    text-decoration: none;
    transition: 0.2s;
}

.nav-items a:hover{
    color: #3C4BA6;
}
